<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <p> <a href="/products/new"> Make a New Product </a> </p>
    <a href="/products"> Click to return to the index page </a>


  </body>
</html>
